<template>
  <div>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Learn with us!</h1>
        <p>Memo is a simple language learning application that focuses on learning words through simple games.</p>
        <p><router-link class="btn btn-primary btn-lg" to="/register" role="button">Join us &raquo;</router-link></p>
      </div>
    </div>

  <hr>

  <footer>
    <p>&copy; Sebastian Guła 2018</p>
  </footer>
  </div>
</template>


<script>
export default {
  name: 'hello'
}
</script>
