<template>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div class="card margin-top">
            <div class="card-block">
                <div class="card-title"><h3>Login</h3></div>
                <div class="card-text">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" maxlength="30" class="form-control" v-model="username"
                            v-validate="'required'">
                            <div class="form-control-feedback" v-show="errors.has('username')">{{ errors.first('username') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" v-model="password" v-validate="'required'">
                            <div class="form-control-feedback" v-show="errors.has('password')">{{ errors.first('password') }}</div>
                        </div>
                        <button type="submit" name="submit" class="btn btn-primary" v-on:click="submit" :disabled="errors.any()">Submit</button>
                        <div>{{ error }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import EventBus from 'utils/bus'
export default {
  name: 'login',
  data: function () {
    return {
      error: '',
      username: '',
      password: ''
    }
  },
  methods: {
    submit: function (event) {
      EventBus.$emit('clear_alerts')
      var vm = this
      if (event) event.preventDefault()
      this.$validator.validateAll().then(() => {
        vm.login(vm.username, vm.password)
      })
    }
  }
}
</script>
