<template>
    <div>
      <WordlistHeader
        :wordlist="wordlist"
        :parentSave="updateParameters"
        :parentEdit="edit"
        :parentUpload="uploadImage"
        :creating="true"
      ></WordlistHeader>
      <div class="row">
          <div class="col-md-4">
            <LanguagePicker label="User's language" :languages="languages" v-model="firstLanguage" name="firstLanguage" :error="errors.first('firstLanguage')"></LanguagePicker>
          </div>
          <div class="col-md-4">
            <LanguagePicker label="Translation's language" :languages="languages" v-model="secondLanguage" name="secondLanguage" :error="errors.first('secondLanguage')"></LanguagePicker>
          </div>
          <div class="col-md-4 text-center mt-auto mb-auto">
            <button type="button" v-on:click="save" class="btn btn-primary" :disabled="hasErrors || errors.any()">Save</button>
            <button type="button" class="btn btn-secondary">Clear</button>
          </div>
      </div>
    </div>
</template>
<script>
import Words from 'components/Words'
import WordlistHeader from 'components/WordlistHeader'
import LanguagePicker from 'components/LanguagePicker'
import EventBus from 'utils/bus'
export default {
  name: 'wordlist',
  data: function () {
    return {
      words: [],
      image: null,
      wordlist: {
        name: '',
        description: '',
        editing: false
      },
      editing: false,
      languages: [],
      firstLanguage: 'en-EN',
      secondLanguage: 'en-EN',
      hasErrors: true
    }
  },
  computed: {
    matchLanguages: function () {
      return this.firstLanguage === this.secondLanguage && this.secondLanguage
    }
  },
  watch: {
    matchLanguages: function (value) {
      if (value !== false) {
        this.errors.add('secondLanguage', 'Must be different')
      } else {
        this.errors.remove('secondLanguage')
      }
    }
  },
  components: {
    Words, WordlistHeader, LanguagePicker
  },
  created: function () {
    this.getLanguages()
    this.wordlist.image = this.$config.media + '/default.png'
  },
  mounted: function () {
    this.errors.add('secondLanguage', 'Must be different')
  },
  methods: {
    save: function () {
      if (this.hasErrors || this.errors.any()) {
        return
      }
      let formData = new FormData()
      if (this.image) {
        formData.append('image', this.image)
      }
      formData.append('name', this.wordlist.name)
      formData.append('description', this.wordlist.description)

      formData.append('original_language', this.firstLanguage)
      formData.append('translation_language', this.secondLanguage)

      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }
      this.axios.post('/wordlist/new', formData, config)
        .then(function (response) {
          this.$router.push('/wordlist/' + response.data['id'])
        }.bind(this)).catch(function () {
          EventBus.$emit('alert', 'Unexpected error has occured', true)
        })
    },
    edit: function (enabled) {
      this.editing = enabled
    },
    updateParameters: function (name, description, errors) {
      this.wordlist.name = name
      this.wordlist.description = description
      this.wordlist.editing = false
      this.hasErrors = errors
    },
    uploadImage: function (file) {
      var fileReader = new FileReader()
      fileReader.addEventListener('load', function () {
        this.wordlist.image = fileReader.result
        this.image = file
      }.bind(this), false)
      fileReader.readAsDataURL(file)
    },
    getLanguages: function () {
      var vm = this
      this.axios.get('/languages/')
      .then(function (response) {
        vm.languages = response.data
        if (vm.languages.length < 2) {
          EventBus.$emit('critical_error', 'There must be at least two languages in the database')
        }
      })
      .catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    }
  }
}
</script>
