<template>
<div>
    <div class="card margin-top">
        <div class="card-block">
            <div class="course-image-details float-sm-left">
                <img :src="image" class="course-image"></img>
                <div class="course-image-upload" v-if="editing">
                  <input type="file" ref="file" accept="image/*" v-on:change="fileUpload" :disabled="uploading">
                  <button type="button" class="btn btn-primary" v-on:click="fileSelect" v-if="!uploading">Change image</button>
                  <i class="fa fa-cog fa-spin fa-3x fa-fw" v-if="uploading"></i>
                </div>
            </div>
            <div class="float-sm-right" v-if="editable">
              <button type="button" class="btn btn-primary" v-on:click="startEditing" v-show="!editing">Edit account</button>
              <button type="button" class="btn btn-secondary" v-on:click="cancelEditing" v-show="editing">Cancel editing</button>
            </div>
            <div v-if="editing">
            <h4>{{ getUsername() }}</h4>
            <em>Member since {{ date_joined }}</em>
            <div class="form-group row"><textarea class="form-control" v-model="description" placeholder="User description up to 600 letters."></textarea></div>
            <button type="button" class="btn btn-primary float-right" v-on:click="saveDescription">Save</button>
            </div>
            <div v-else>
                <h4 v-if="editable">{{ getUsername() }}</h4>
                <h4 v-else>{{ this.$route.params.id }}</h4>
                <em>Member since {{ date_joined }}</em>
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
    <div class="row margin-top" v-if="editing">
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <div class="form-group">
                        <label for="email">New E-mail: </label>
                        <input class="form-control" name="email" type="email" v-validate="'email'" v-model="email"></input>
												<div class="form-control-feedback" v-show="errors.has('email')">{{ errors.first('email') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <div class="form-group">
                        <label for="old-password">Old Password: </label>
                        <input class="form-control" name="old_password" type="password" v-validate="'required'" v-model="old_password"></input>
												<div class="form-control-feedback" v-show="errors.has('old_password')">{{ errors.first('old_password') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="new-password">New Password: </label>
                        <input class="form-control" name="new_password" type="password" v-validate="'min:8'" v-model="new_password"></input>
												<div class="form-control-feedback" v-show="errors.has('new_password')">{{ errors.first('new_password') }}</div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password: </label>
                        <input class="form-control" name="confirm_password" type="password" v-model="confirm_password"></input>
												<div class="form-control-feedback" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center mt-auto mb-auto">
            <button type="submit" class="btn btn-primary" v-on:click="submitEmailPassword" :disabled="errors.any()">Save</button>
            <button type="button" class="btn btn-secondary" v-on:click="clearSettingsForm">Clear</button>
						<div>{{ error }}</div>
        </div>
    </div>
    <div v-else class="col-12">
      <div class="row">
        <div class="ml-auto margin-top">
          <ButtonTabs 
            :tabs="[{name: 'Created wordlists'}, {name: 'Enrolled wordlists'}]"
            v-model="wordlistTab">
          </ButtonTabs>
        </div>
      </div>
      <div class="row margin-top">
        <WordlistCards :wordlists="wordlists"></WordlistCards>
      </div>
    </div>
</div>
</template>
<script>
import EventBus from 'utils/bus'
import ButtonTabs from 'components/ButtonTabs'
import WordlistCards from 'components/WordlistCards'
var moment = require('moment')
export default {
  name: 'profile',
  data: function () {
    return {
      error: '',
      old_password: '',
      new_password: '',
      confirm_password: '',
      email: '',
      date_joined: '',
      old_description: '',
      description: '',
      image: '',
      editable: false,
      editing: false,
      wordlistTab: 0,
      wordlists: [],
      id: null
    }
  },
  components: { ButtonTabs, WordlistCards },
  created: function () {
    if (this.$route.params.id === 'my') {
      this.editable = true
      this.axios.get('/my_profile/')
        .then(function (response) {
          var dateJoined = new Date(response.data.date_joined)
          this.date_joined = moment(dateJoined).format('MMMM YYYY')
          this.description = response.data.description
          this.image = response.data.image
        }.bind(this)).catch(function () {
          EventBus.$emit('critical_error', 'Unexpected error has occured')
        })
    } else {
      this.axios.get('/profile/' + this.$route.params.id)
        .then(function (response) {
          var dateJoined = new Date(response.data.date_joined)
          this.date_joined = moment(dateJoined).format('MMMM YYYY')
          this.description = response.data.description
          this.image = response.data.image
        }.bind(this)).catch(function (error) {
          var status = (((error || {}).response || {}).status || {})
          if (status === 404) {
            EventBus.$emit('critical_error', 'User has not been found')
          } else {
            EventBus.$emit('critical_error', 'Unexpected error has occured')
          }
        })
    }
    this.getWordlists(0)
  },
  mounted: function () {
    const dict = {
      custom: {
        confirm_password: {
          required: 'The password confirmation field is required',
          confirmed: 'The password confirmation does not match'
        }
      },
      attributes: {
        new_password: 'new password',
        old_password: 'old password'
      }
    }
    this.$validator.extend('verify_confirmation', {
      getMessage: field => 'The password confirmation does not match',
      validate: value => {
        return value === this.new_password
      }
    })
    this.$validator.localize('en', dict)
  },
  watch: {
    new_password: function (password) {
      if (password) {
        this.$validator.attach(
          {
            name: 'confirm_password',
            rules: 'required|verify_confirmation',
            getter: () => {
              return this.confirm_password
            }
          })
        this.$validator.validate('confirm_password')
      } else {
        this.$validator.detach('confirm_password')
      }
    },
    confirm_password: function () {
      this.$validator.validate('confirm_password', this.confirm_password)
    },
    wordlistTab: function (value) {
      this.getWordlists(value)
    }
  },
  methods: {
    getWordlists: function (type) {
      let URLparams = '?'

      if (this.$route.params.id && this.$route.params.id !== 'my') {
        URLparams += '&user=' + this.$route.params.id
      }

      if (type === 0) {
        URLparams += '&type=created'
      } else if (type === 1) {
        URLparams += '&type=enrolled'
      }

      this.axios.get('/wordlists/' + URLparams, {})
      .then(function (response) {
        this.wordlists = response.data
      }.bind(this)).catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    },
    submitEmailPassword: function () {
      if (event) event.preventDefault()
      this.$validator.validateAll().then(function () {
        let changes = {}
        if (this.email) {
          changes['email'] = this.email
          changes['old_password'] = this.old_password
        }
        if (this.new_password) {
          changes['new_password'] = this.new_password
          changes['old_password'] = this.old_password
        }
        this.axios.patch('/update_account/', changes).then(function () {
          EventBus.$emit('alert', 'Your information has been updated', true, 'success')
        }).catch(function (error) {
          var status = (((error || {}).response || {}).status || {})
          if (status !== 400) {
            EventBus.$emit('critical_error', 'Unexpected error has occured')
            return
          } else {
            // List errors in the form
            for (var k in error.response.data) {
              if (error.response.data.hasOwnProperty(k)) {
                for (var c in error.response.data[k]) {
                  if (error.response.data[k].hasOwnProperty(c)) {
                    this.errors.add(k, error.response.data[k][c])
                  }
                }
              }
            }
          }
        }.bind(this))
      }.bind(this))
    },
    startEditing: function () {
      this.old_description = this.description
      this.editing = true
    },
    cancelEditing: function () {
      if (this.old_description) {
        this.description = this.old_description
      }
      this.editing = false
    },
    clearSettingsForm: function () {
      this.confirm_password = ''
      this.new_password = ''
      this.old_password = ''
      this.email = ''
      // Wait till validation occurs then clear the errors
      window.setTimeout(() => this.errors.clear(), 10)
    },
    fileSelect: function () {
      this.$refs.file.click()
    },
    fileUpload: function () {
      this.uploading = true
      let file = this.$refs.file.files[0]
      let formData = new FormData()
      formData.append('image', file)
      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }
      this.axios.patch('/profile_image_upload/', formData, config)
      .then(function (response) {
        this.image = response.data.image
      }.bind(this))
      .catch(function () {
        EventBus.$emit('alert', 'Could not upload file due to unexpected error', true)
      })
      this.uploading = false
    },
    saveDescription: function () {
      this.axios.patch('/my_profile/', {description: this.description})
      .then(function (response) {
        this.old_description = null
        EventBus.$emit('alert', 'Your description has been successfully changed', 'true', 'success')
      }.bind(this)).catch(function () {
        this.description = this.old_description
        EventBus.$emit('alert', 'Unexpected error has occured', true)
      }.bind(this))
    }
  }
}
</script>
