<template>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <div class="card margin-top">
            <div class="card-block">
                <div class="card-title"><h3>Register</h3></div>
                <div class="card-text">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" maxlength="30" class="form-control" v-model="username"
                            v-validate="{ rules: { required: true, min: 4, alpha_dash: true } }">
                            <div class="form-control-feedback" v-show="errors.has('username')">{{ errors.first('username') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" class="form-control" v-model="email" v-validate="'required|email'">
                            <div class="form-control-feedback" v-show="errors.has('email')">{{ errors.first('email') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First name</label>
                            <input type="text" name="first_name" maxlength="30" class="form-control" v-model="first_name">
                        </div>
                        <div class="form-group">
                            <label for="first_name">Last name</label>
                            <input type="text" name="last_name" maxlength="30" class="form-control" v-model="last_name">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" v-model="password" v-validate="'required|min:8'">
                            <div class="form-control-feedback" v-show="errors.has('password')">{{ errors.first('password') }}</div>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" data-vv-as="password" name="confirm_password" class="form-control" v-model="confirm_password" v-validate="'required|confirmed:password'">
                            <div class="form-control-feedback" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</div>
                        </div>
                        <button type="submit" name="submit" class="btn btn-primary" v-on:click="submit" :disabled="errors.any()">Submit</button>
                        <div>{{ error }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import EventBus from 'utils/bus'
export default {
  name: 'register',
  data: function () {
    return {
      error: '',
      username: '',
      email: '',
      first_name: '',
      last_name: '',
      password: '',
      confirm_password: ''
    }
  },
  mounted: function () {
    const dict = {
      custom: {
        confirm_password: {
          required: 'The password confirmation field is required'
        }
      }
    }
    this.$validator.localize('en', dict)
  },
  methods: {
    submit: function (event) {
      var vm = this
      if (event) event.preventDefault()
      this.$validator.validateAll().then(() => {
        this.axios.post('/register/', {
          username: vm.username,
          email: vm.email,
          first_name: vm.first_name,
          last_name: vm.last_name,
          password: vm.password
        }).then(function (response) {
          vm.login(vm.username, vm.password)
        }).catch(function (error) {
          var status = (((error || {}).response || {}).status || {})
          if (status !== 400) {
            EventBus.$emit('critical_error', 'Unexpected error has occured')
            return
          } else {
            // List errors in the form
            for (var k in error.response.data) {
              if (error.response.data.hasOwnProperty(k)) {
                for (var c in error.response.data[k]) {
                  if (error.response.data[k].hasOwnProperty(c)) {
                    vm.errors.add(k, error.response.data[k][c])
                  }
                }
              }
            }
          }
        })
      })
    }
  }
}
</script>
