<template>
    <div class="container text-center margin-top" v-show="ready">
      <div v-if="showOverview">
        <transition name="fade-in">
          <div>
            <h1 class="text-info">Overview</h1>
            <h2>You have practiced {{ words.length }} <span v-if="words.length >= 2">pairs</span><span v-else>pair</span> in this session.</h2>
            <h2 class="text-success">You have answered {{ score['correct'] }} words correctly!</h2>
            <h2>There were {{ score['timeout'] }} timeouts and {{ score['reveal'] }} times when you didn't know the answer.</h2>
            <br>
            <div class="form-group">
              <button class="btn btn-primary btn-lg" v-on:click="toCourse">Go back to the course <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
              <button class="btn btn-secondary btn-lg" v-on:click="start">Repeat <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
          </div>
        </transition>
      </div>
      <div v-else :class="{ 'hidden-xl-down': paused }">
        <p v-if="words[currentIndex].status == 0">This is a new word!</p>
        <p v-if="words[currentIndex].status == 1">You have already guessed this word, you can do it!</p>
        <p v-if="words[currentIndex].status == 2">If you guess it this time it should stick in your for a long time!</p>
        <p v-if="words[currentIndex].status == 3">You have already mastered this word, you can do it!</p>
        <h4 class="text-info">{{ firstWord.language }}</h4>
        <h1>{{ firstWord.word }}</h1>
        <br>
        <h4 class="text-info">{{ secondWord.language }}</h4>
        <TypingGameBox :parentCorrect="correct" v-show="showBox"></TypingGameBox>
        <h1 v-show="showBox === false && wasCorrect === true" class="text-success">{{ secondWord.word }}</h1>
        <h1 v-show="showBox === false && wasCorrect === false">{{ secondWord.word }}</h1>
        <br>
        <transition name="fade-in">
          <h1 class="text-warning" v-show="message == 'timeout'">Time's up!</h1>
        </transition>
        <transition name="fade-in">
          <h1 class="text-success" v-show="wasCorrect">Correct answer!</h1>
        </transition>
        <transition name="fade-in">
          <h1 class="text-info" v-show="message == 'incorrect'">Maybe next time.</h1>
        </transition>
        <div v-if="showBox">
          <button class="btn btn-secondary btn-lg" v-on:click="revealAnswer">I don't know the answer</button>
        </div>
        <div v-else>
          <button class="btn btn-primary btn-lg" v-if="currentIndex + 1 == words.length" v-on:click="toOverview">Overview <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          <button class="btn btn-primary btn-lg" v-else v-on:click="next">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
</template>
<script>
import EventBus from 'utils/bus'
import TypingGameBox from 'components/TypingGameBox'
export default {
  name: 'typingGame',
  components: { TypingGameBox },
  data: function () {
    return {
      paused: false,
      showBox: true,
      wasCorrect: false,
      firstWord: {},
      secondWord: {},
      words: [],
      score: {'correct': 0, 'reveal': 0, 'timeout': 0},
      maxTime: 15,
      currentIndex: 0,
      letterTimer: null,
      ready: false,
      message: null,
      showOverview: false
    }
  },
  mounted: function () {
    this.start()
    EventBus.$on('timeout', function () {
      this.message = 'timeout'
      this.score['timeout'] += 1
    }.bind(this))
    EventBus.$on('stopClock', () => { this.showBox = false })
    EventBus.$on('pause', () => { this.pause() })
    EventBus.$on('resume', () => { this.resume() })
  },
  methods: {
    pause: function () {
      this.paused = true
      window.clearTimeout(this.letterTimer)
    },
    resume: function () {
      this.paused = false
      var time = this.maxTime / this.secondWord.word.length * 1000
      this.letterTimer = window.setTimeout(function () { this.addLetter(time) }.bind(this), time)
    },
    start: function () {
      this.setupParameters()
      this.currentIndex = 0
      this.words = []
      this.ready = false
      this.axios.get('/game/words/' + this.$route.params.id)
      .then(function (response) {
        if (response.data.length === 0) {
          EventBus.$emit('alert', 'There are no words to learn', true)
          this.$router.push('/wordlist/' + this.$route.params.id)
          return
        }
        this.ready = true
        this.words = this.words.concat(response.data)
        EventBus.$emit('setWordsNumber', this.words.length)
        this.$nextTick(() => { this.pickWord(0) })
      }.bind(this)).catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    },
    setupParameters: function () {
      this.showBox = true
      this.wasCorrect = false
      this.message = null
      this.showOverview = false
    },
    pickWord: function () {
      var index = this.currentIndex
      console.log(this.words[index])
      if (Math.random() > 0.5) {
        this.firstWord = this.words[index].pair[0]
        this.secondWord = this.words[index].pair[1]
      } else {
        this.firstWord = this.words[index].pair[1]
        this.secondWord = this.words[index].pair[0]
      }
      this.setupParameters()
      EventBus.$emit('updateWord', this.secondWord.word)
      EventBus.$emit('startClock', 15)
      var time = this.maxTime / this.secondWord.word.length * 1000
      window.clearTimeout(this.letterTimer)
      this.letterTimer = window.setTimeout(function () { this.addLetter(time) }.bind(this), time * 1.5)
    },
    addLetter: function (time) {
      EventBus.$emit('addLetter')
      window.clearTimeout(this.letterTimer)
      this.letterTimer = window.setTimeout(function () { this.addLetter(time) }.bind(this), time)
    },
    correct: function () {
      this.showBox = false
      this.wasCorrect = true
      EventBus.$emit('stopClock')
      this.score['correct'] += 1
      this.axios.patch('game/words/' + this.$route.params.id, {'word_id': this.words[this.currentIndex].id, 'score': 1})
      .then(function (response) {
        console.log(response)
      }).catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    },
    revealAnswer: function () {
      this.showBox = false
      this.wasCorrect = false
      this.message = 'incorrect'
      this.score['reveal'] += 1
      EventBus.$emit('stopClock')
    },
    next: function () {
      this.currentIndex += 1
      this.pickWord()
    },
    toOverview: function () {
      this.showOverview = true
    },
    toCourse: function () {
      this.$router.push('/wordlist/' + this.$route.params.id)
    }
  }
}
</script>
