<template>
  <div>
    <div class="row sidebar-top">
      <div class="col-3 text-center">
          <button type="button" class="btn btn-lg btn-success" v-on:click="$router.push('/wordlist/new')"><i class="fa fa-plus" aria-hidden="true"></i> Create new course</button>
      </div>
      <div class="ml-auto">
        <ButtonTabs 
          :tabs="[{name: 'All wordlists'}, {name: 'Enrolled wordlists'}, {name: 'My wordlists'}]"
          v-model="wordlistTab"
        ></ButtonTabs>
      </div>
    </div>
    <div class="row">
      <div class="col col-3">
        <LanguagePicker v-model="firstLanguage" :languages="languages" label="My language"></LanguagePicker>
        <LanguageFilter v-model="secondLanguage" :languages="languages"></LanguageFilter>
      </div>
      <div class="col-9">
        <WordlistCards :wordlists="wordlists"></WordlistCards>
      </div>
    </div>
  </div>
</template>
<script>
import WordlistCards from 'components/WordlistCards'
import LanguageFilter from 'components/LanguageFilter'
import LanguagePicker from 'components/LanguagePicker'
import WordlistHeader from 'components/WordlistHeader'
import ButtonTabs from 'components/ButtonTabs'
import EventBus from 'utils/bus'
export default {
  name: 'wordlists',
  data: function () {
    return {
      'firstLanguage': 'en',
      'secondLanguage': null,
      'languages': [],
      'wordlists': [],
      'wordlistTab': 0
    }
  },
  watch: {
    wordlistTab: function () {
      this.getWordlists()
    },
    firstLanguage: function () {
      this.getWordlists()
    },
    secondLanguage: function () {
      this.getWordlists()
    }
  },
  methods: {
    getLanguages: function () {
      var vm = this
      this.axios.get('/languages/')
      .then(function (response) {
        vm.languages = response.data
        vm.firstLanguage = vm.languages[0].language_code
      })
      .catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    },
    getWordlists: function () {
      let type = this.wordlistTab
      let URLparams = '?first=' + this.firstLanguage + '&second=' + this.secondLanguage
      if (type === 2) {
        URLparams += '&type=created'
      } else if (type === 1) {
        URLparams += '&type=enrolled'
      }
      this.axios.get('/wordlists/' + URLparams, {})
      .then(function (response) {
        this.wordlists = response.data
      }.bind(this)).catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    }
  },
  created: function () {
    this.getLanguages()
    this.getWordlists()
  },
  components: { WordlistCards, LanguageFilter, LanguagePicker, WordlistHeader, ButtonTabs }
}
</script>
