<template>
    <div class="margin-top">
        <WordlistHeader
          :wordlist="wordlist"
          :parentSave="patchHeader"
          :parentEdit="edit"
          :parentRemove="deleteWordlist"
          :parentSetEnrollment="setEnrollment"
          :parentUpload="uploadImage"
          v-show="Object.keys(wordlist).length"
        ></WordlistHeader>
        <Words :words="words" 
          :withStatus="wordlist.enrolled" 
          :parentPatchItem="patchItem" 
          :parentAddItem="addItem" 
          :parentRemoveItem="removeItem"
          :showActions="editing"
          :firstLanguage="firstLanguage"
          :secondLanguage="secondLanguage"
        ></Words>
    </div>
</template>
<script>
import Words from 'components/Words'
import WordlistHeader from 'components/WordlistHeader'
import EventBus from 'utils/bus'
export default {
  name: 'wordlist',
  data: function () {
    return {
      words: [],
      wordlist: {},
      editing: false,
      firstLanguage: '',
      secondLanguage: ''
    }
  },
  components: {
    Words, WordlistHeader
  },
  created: function () {
    this.axios.get('/wordlist/' + this.$route.params.id)
      .then(function (response) {
        this.wordlist = response.data
        if (this.wordlist.owner_username === this.getUsername()) {
          this.wordlist.enrolled = true
        } else {
          this.getEnrollment()
        }
        this.getWords()
        this.firstLanguage = response.data['original_language_name']
        this.secondLanguage = response.data['translation_language_name']
      }.bind(this)).catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
  },
  methods: {
    patchHeader: function (name, description) {
      this.axios.patch('/wordlist/' + this.$route.params.id, {name: name, description: description})
        .then(function (response) {
          this.wordlist = response.data
          if (this.wordlist.owner_username === this.getUsername()) {
            this.wordlist.enrolled = true
          } else {
            this.getEnrollment()
          }
        }.bind(this)).catch(function () {
          EventBus.$emit('alert', 'Unexpected error has occured', true)
        })
    },
    getWords: function () {
      if (this.wordlist.enrolled === true) {
        this.axios.get('/words_with_status/' + this.$route.params.id)
          .then(function (response) {
            this.words = response.data
          }.bind(this))
          .catch(function () {
            EventBus.$emit('critical_error', 'Unexpected error has occured')
          })
      } else {
        this.axios.get('/words/' + this.$route.params.id)
          .then(function (response) {
            this.words = response.data
          }.bind(this))
          .catch(function () {
            EventBus.$emit('critical_error', 'Unexpected error has occured')
          })
      }
    },
    deleteWordlist: function () {
      this.axios.delete('/wordlist/' + this.$route.params.id)
      .then(function (response) {
        this.$router.push('/wordlists/')
      }.bind(this)).catch(function () {
        EventBus.$emit('critical_error', 'Unexpected error has occured')
      })
    },
    getEnrollment: function () {
      this.axios.get('/wordlist/' + this.$route.params.id + '/enrollment/')
        .then(function (response) {
          this.wordlist = Object.assign({}, this.wordlist, {enrolled: response.data['enrolled']})
        }.bind(this)).catch(function () {
          EventBus.$emit('critical_error', 'Unexpected error has occured')
        })
    },
    setEnrollment: function (active) {
      if (active === true) {
        this.axios.post('/wordlist/' + this.$route.params.id + '/enrollment/')
        .then(function (response) {
          this.wordlist.enrolled = true
        }.bind(this))
        .catch(function () {
          EventBus.$emit('alert', 'Unexpected error has occured', true)
        })
      } else {
        this.axios.delete('/wordlist/' + this.$route.params.id + '/enrollment/')
          .then(function (response) {
            this.$set(this.wordlist, 'enrolled', false)
            this.wordlist.enrolled = false
          }.bind(this))
          .catch(function () {
            EventBus.$emit('alert', 'Unexpected error has occured', true)
          })
      }
    },
    edit: function (enabled) {
      this.editing = enabled
    },
    uploadImage: function (file) {
      let formData = new FormData()
      formData.append('image', file)
      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }
      this.axios.patch('/wordlist/' + this.$route.params.id + '/image/upload/', formData, config)
      .then(function (response) {
        this.wordlist.image = response.data.image
      }.bind(this))
      .catch(function () {
        EventBus.$emit('alert', 'Could not upload file due to unexpected error', true)
      })
    },
    addItem: function (originalWord, translationWord) {
      var self = this
      this.axios.post('/word/', {
        'wordlist': this.$route.params.id,
        'original_word': originalWord,
        'translation_word': translationWord
      })
      .then(function (response) {
        self.words = self.words.concat(response.data)
      })
      .catch(function () {
        EventBus.$emit('alert', 'Unexpected error has occured', true)
      })
    },
    patchItem: function (id, originalWord, translationWord) {
      var self = this
      this.axios.patch('/word/' + id, {
        'original_word': originalWord,
        'translation_word': translationWord
      })
      .then(function (response) {
        for (var i = 0; i < self.words.length; i++) {
          if (self.words[i].id === id) {
            self.words[i].original_word = originalWord
            self.words[i].translation_word = translationWord
            break
          }
        }
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    removeItem: function (id, key) {
      this.axios.delete('/word/' + id, {})
      .then(function (response) {
        if (key === 0) {
          this.words.shift()
        } else {
          this.words.splice(key, key)
        }
      }.bind(this))
      .catch(function () {
        EventBus.$emit('alert', 'Unexpected error has occured', true)
      })
    }
  }
}
</script>
