<template>
    <div class="alert alert-dismissable" :class="'alert-' + type"  role="alert" v-show="show">
        <button type="button" v-on:click="dismissAlert" aria-label="close" class="close" v-show="dismissable">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</template>
<script>
export default {
  name: 'alert',
  props: {
    dismissable: Boolean,
    type: String,
    message: String,
    parentDismissAlert: Function
  },
  data: function () {
    return {
      'show': true
    }
  },
  methods: {
    dismissAlert: function () {
      this.show = false
      this.parentDismissAlert()
    }
  }
}
</script>
