<template>
  <div>
    <div v-for="(alert, key) in alerts" class="margin-top">
      <Alert :message="alert.message" :type="alert.type" :dismissable="alert.dismissable" :parentDismissAlert="function () { $delete(alerts, key) }"></Alert>
    </div>
  </div>
</template>
<script>
import Alert from './Alert'
import EventBus from 'utils/bus'
export default {
  name: 'alertStack',
  components: { Alert },
  data: function () {
    return {
      'alerts': []
    }
  },
  methods: {
    onCriticalError: function (error) {
      this.alerts.push(
        {
          'type': 'danger',
          'message': error,
          'dismissable': false
        }
      )
    },
    onAlert: function (alert, dismissable, type) {
      this.alerts.push(
        {
          'type': type,
          'message': alert,
          'dismissable': dismissable
        }
      )
    },
    onClearAlerts: function () {
      this.alerts = []
    }
  },
  created: function () {
    EventBus.$on('alert', function (alert, dismissable = false, type = 'danger') { this.onAlert(alert, dismissable, type) }.bind(this))
    EventBus.$on('critical_error', error => { this.onCriticalError(error) })
    EventBus.$on('clear_alerts', this.onClearAlerts)
  },
  watch: {
    '$route' (to, from) {
      for (var i = 0, len = this.alerts.length; i < len; i++) {
        if (this.alerts[i].dismissable === false) {
          this.$delete(this.alerts, i)
        }
      }
    }
  }
}
</script>
