<template>
  <div>  
    <div class="btn-group">
      <button v-for="(tab, id) in tabs" type="button" class="btn" :class="value === id? 'btn-primary active' : 'btn-secondary'" v-on:click="setTab(id)">{{tab.name}}</button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'buttonTabs',
  props: {
    tabs: Array,
    onSet: Function,
    value: Number
  },
  methods: {
    setTab: function (id) {
      this.$emit('input', id)
    }
  }
}
</script>
