<template>
  <b-navbar toggleable type="inverse" variant="primary">
    <b-nav-toggle target="nav_collapse"></b-nav-toggle>

    <b-link class="navbar-brand" to="#">
      <span>Memo</span>
    </b-link>
    
    <b-collapse is-nav id="nav_collapse">
      <b-nav is-nav-bar>
        <b-nav-item :to="{ name: 'hello' }" exact>Home</b-nav-item>
        <b-nav-item to="/wordlists">Courses</b-nav-item>
      </b-nav>
      <b-nav is-nav-bar class="ml-auto" v-if="isLoggedIn">
        <b-nav-text right>Hello, {{ username }}!</b-nav-text>
        <b-nav-item right to="/profile/my">Profile</b-nav-item>
        <b-nav-item right to="/logout">Logout</b-nav-item>
      </b-nav>
      <b-nav is-nav-bar class="ml-auto" v-else>
        <b-nav-item right to="/login">Login</b-nav-item>
        <b-nav-item right to="/register">Register</b-nav-item>
      </b-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
import EventBus from 'utils/bus'
export default {
  name: 'defaultNavbar',
  created: function () {
    var vm = this
    EventBus.$on('login', function () { vm.updateAuth() })
    EventBus.$on('logout', function () { vm.updateAuth() })
  },
  methods: {
    logout: function () {
      this.logout()
    },
    updateAuth: function () {
      this.isLoggedIn = this.checkIfLoggedIn()
      this.username = this.getUsername()
    }
  },
  data: function () {
    return {
      isLoggedIn: false
    }
  }
}
</script>
