<template>
  <b-navbar toggleable type="inverse" variant="primary">
    <div class="container">
      <span class="col-4 text-right nav-item">
        <div v-show="active">
          <button class="btn btn-secondary" v-on:click="pause"><i class="fa fa-pause" aria-hidden="true"></i></button>
        </div>
        <div v-show="!active && paused">
          <button class="btn btn-secondary" v-on:click="play"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
      </span>
      <span class="col-4 text-center">
      <b-nav-text v-if="wordsNumber">Learn {{ wordsNumber }} new words</b-nav-text>
      </span>
      <span class="col-4 nav-item"> 
      <canvas v-show="active" ref="clock" width="40" height="40" class="align-middle" />
      </span>
    </div>
  </b-navbar>
</template>
<style type="text/css">
</style>
<script>
import EventBus from 'utils/bus'
export default {
  name: 'gameNavbar',
  data: function () {
    return {
      time: 0,
      maxTime: 0,
      active: false,
      paused: false,
      timer: null,
      wordsNumber: null,
      wasPaused: false
    }
  },
  created: function () {
    EventBus.$on('setWordsNumber', function (number) { this.wordsNumber = number }.bind(this))
    EventBus.$on('startClock', function (time) {
      this.active = true
      this.time = time
      this.maxTime = time
      this.drawClock(time, 360)
      window.clearTimeout(this.timer)
      this.timer = window.setTimeout(this.updateClock, 1000)
    }.bind(this))
    EventBus.$on('stopClock', function () {
      this.active = false
      window.clearTimeout(this.timer)
    }.bind(this))
  },
  methods: {
    updateClock: function () {
      if (this.time <= 1 || this.paused || !this.active) {
        var clock = this.$refs.clock
        var context = clock.getContext('2d')
        context.clearRect(0, 0, 40, 40)
        this.active = false
        EventBus.$emit('stopClock')
        EventBus.$emit('timeout')
      } else {
        this.time -= 1
        this.drawClock(this.time, this.time / this.maxTime * 360)
        window.clearTimeout(this.timer)
        this.timer = window.setTimeout(this.updateClock, 1000)
      }
    },
    drawClock: function (number, angle) {
      var clock = this.$refs.clock
      var context = clock.getContext('2d')
      context.clearRect(0, 0, 40, 40)
      context.beginPath()
      context.arc(20, 20, 20, -Math.PI / 2, (-Math.PI / 2) - (angle / 180 * Math.PI))
      context.lineTo(20, 20)
      context.fillStyle = '#5cb85c'
      context.fill()
      context.textAlign = 'center'
      context.font = 'bold 16px Open Sans Light'
      context.fillStyle = 'black'
      context.fillText(number, 20, 25)
    },
    pause: function () {
      window.clearTimeout(this.timer)
      this.active = false
      this.paused = true
      var clock = this.$refs.clock
      var context = clock.getContext('2d')
      context.clearRect(0, 0, 40, 40)
      EventBus.$emit('pause')
      this.wasPaused = true
    },
    play: function () {
      if (this.wasPaused === true) {
        this.wasPaused = false
        EventBus.$emit('resume')
      }
      this.active = true
      this.paused = false
      this.drawClock(this.time, this.time / this.maxTime * 360)
      window.clearTimeout(this.timer)
      this.timer = window.setTimeout(this.updateClock, 1000)
    }
  }
}
</script>
