<template>
<div class="card">
  <div class="card-block">
    <div class="form-group">
      <label for="languageSelect" v-if="label">{{label}}</label>
      <select class="form-control" refs="languageSelect" id="languageSelect" v-bind:value="value" v-on:input="updateLanguage($event.target.value)">
        <option :value="item.language_code" v-for="item in languages">{{item.name}}</option>
      </select>
      <div class="form-control-feedback">{{ error }}</div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name: 'languageFilter',
  props: {
    languages: Array,
    label: String,
    value: String,
    error: String
  },
  methods: {
    updateLanguage: function (value) {
      this.$emit('input', value)
    }
  }
}
</script>
