<template>
<div class="card">
        <div class="card-block">
          <h4 class="card-title">Languages</h4>
          <p class="card-text">
          <p class="card-text">
            <ul class="nav flex-column nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link" href="#" v-on:click="selectLanguage(null)"
                  v-bind:class="{ active: value == null}">All languages</a>
              </li>
              <li class="nav-item" v-for="item in languages">
                <a class="nav-link" href="#" v-on:click="selectLanguage(item.language_code)"
                  v-bind:class="{ active: item.language_code == value}">{{item.name}}</a>
              </li>
            </ul>
          </p>
        </div>
</div>
</template>
<script>
export default {
  name: 'languageFilter',
  props: {
    languages: Array,
    value: String
  },
  methods: {
    selectLanguage: function (id) {
      this.$emit('input', id)
    }
  }
}
</script>
