<template>
  <div>
    <div class="d-flex justify-content-center">
      <h1 v-for="letter in singleLetters" :class="{'text-success': letter.correct}">{{ letter.letter }}</h1>
    </div>
    <form class="form-inline justify-content-center">
      <input autofocus class="form-control form-control-lg" size="10" type="text" v-model="typingBox" />
    </form>
  </div>
</template>
<script>
import EventBus from 'utils/bus'
export default {
  name: 'typingGameBox',
  data: function () {
    return {
      singleLetters: [],
      typingBox: '',
      correctWord: '',
      promptsToSkip: 0
    }
  },
  created: function () {
    EventBus.$on('addLetter', this.addLetter)
    EventBus.$on('updateWord', this.updateWord)
  },
  methods: {
    updateWord: function (val) {
      this.correctWord = val
      this.typingBox = ''
      this.singleLetters = []
      for (var i = 0; i < this.correctWord.length; i++) {
        this.singleLetters.push({letter: '?', correct: false})
      }
    },
    addLetter: function () {
      if (this.promptsToSkip > 0) {
        this.promptsToSkip -= 1
        return
      }
      function reduceQuestionMarks (array, element, index) {
        if (element.letter === '?') {
          array.push(index)
        }
        return array
      }
      var questionMarks = this.singleLetters.reduce(reduceQuestionMarks, [])
      var randomIndex = questionMarks[Math.floor(Math.random() * questionMarks.length)]
      this.$set(this.singleLetters, randomIndex, {letter: this.correctWord.charAt(randomIndex), correct: false})
    }
  },
  watch: {
    typingBox: function (val) {
      var anyInvalid = false
      for (var i = 0; i < val.length; i++) {
        if (val[i].toLowerCase() === this.correctWord[i].toLowerCase()) {
          this.singleLetters[i] = {letter: val[i], correct: true}
          this.promptsToSkip += 1
        } else {
          anyInvalid = true
        }
      }
      if (val.length !== this.correctWord.length) {
        anyInvalid = true
      }
      if (anyInvalid === false) {
        this.parentCorrect()
      }
    }
  },
  props: {
    parentCorrect: Function
  }
}
</script>
