<template>
  <div>
    <div class="card">
      <div class="card-block">
          <div class="course-image-details float-sm-left">
            <img :src="wordlist.image" class="course-image">
            <div class="course-image-upload" v-if="editing">
              <input type="file" ref="file" accept="image/*" v-on:change="fileUpload" :disabled="uploading">
              <button type="button" class="btn btn-primary" v-on:click="fileSelect" v-if="!uploading">Change image</button>
              <i class="fa fa-cog fa-spin fa-3x fa-fw" v-if="uploading"></i>
            </div>
          </div>
          <div class="float-sm-right">
            <div v-if="!is_owner">
              <div v-if="this.wordlist.enrolled === false">
                <button type="button" class="btn btn-primary" v-on:click="parentSetEnrollment(true)">Enroll</button>
              </div>
              <div v-else>
                <button type="button" class="btn btn-primary" v-on:click="practice">Practice</button>
                <button type="button" class="btn btn-danger" v-on:click="parentSetEnrollment(false)">Quit</button>
              </div>
            </div>
            <div v-if="creating">
              <button type="button" class="btn btn-secondary" v-on:click="save" v-if="editing" :disabled="errors.any()">Preview</button>
              <button type="button" class="btn btn-secondary" v-on:click="edit" v-if="!editing">Edit</button>
            </div>
            <div v-if="is_owner && !creating">
              <button type="button" class="btn btn-primary" v-on:click="practice">Practice</button>
              <button type="button" class="btn btn-secondary" v-on:click="save" v-if="editing">Done</button>
              <button type="button" class="btn btn-secondary" v-on:click="edit" v-if="!editing">Edit</button>
              <button type="button" class="btn btn-danger" v-on:click="parentRemove">Delete</button>
            </div>
          </div>
          <div v-if="editing">
            <div class="form-group row">
              <input type="text" class="form-control header-name" v-model="name" name="name" v-validate="'required|min:8'" placeholder="Course title"></input>
              <div class="form-control-feedback" v-show="errors.has('name')">{{ errors.first('name') }}</div>
            </div>
            <div class="form-group row">
              <textarea class="form-control" name="description" v-model="description" placeholder="Course description up to 600 letters." maxlength="600" v-validate="'max:600'"></textarea>
              <div class="form-control-feedback" v-show="errors.has('description')">{{ errors.first('description') }}</div>
            </div>
            <button type="button" class="btn btn-primary" v-on:click="save" v-if="!creating">Save</button>
          </div>
          <div v-else>
            <h4 v-if="wordlist.name">{{wordlist.name}}</h4>
            <h4 v-else>Course title</h4>
            <p v-if="wordlist.description">{{wordlist.description}}</p>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'wordlistHeader',
  data: function () {
    return {
      'editing': false,
      'uploading': false,
      'name': '',
      'description': '',
      'is_owner': false
    }
  },
  created: function () {
    this.is_owner = (this.wordlist.owner_username === this.getUsername() || this.creating)
    if (this.creating) {
      this.edit()
    }
  },
  watch: {
    wordlist: function () {
      this.is_owner = (this.wordlist.owner_username === this.getUsername() || this.creating)
    },
    name: function () {
      if (this.creating) {
        this.$validator.validateAll().then(function () {
          this.parentSave(this.name, this.description, this.errors.any())
        }.bind(this))
      }
    },
    description: function () {
      if (this.creating) {
        this.$validator.validateAll().then(function () {
          this.parentSave(this.name, this.description, this.errors.any())
        }.bind(this))
      }
    }
  },
  methods: {
    edit: function () {
      this.editing = true
      this.name = this.wordlist.name
      this.description = this.wordlist.description
      this.parentEdit(true)
    },
    save: function () {
      this.editing = false
      this.parentEdit(false)
      this.parentSave(this.name, this.description)
    },
    fileSelect: function () {
      this.$refs.file.click()
    },
    fileUpload: function () {
      this.uploading = true
      this.parentUpload(this.$refs.file.files[0])
      this.uploading = false
    },
    practice: function () {
      this.$router.push('/game/typing/' + this.$route.params.id)
    }
  },
  props: {
    parentSetEnrollment: Function,
    parentSave: Function,
    parentEdit: Function,
    parentRemove: Function,
    parentUpload: Function,
    wordlist: Object,
    creating: Boolean
  }
}
</script>
