<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>{{ firstLanguage }}</th>
          <th>{{ secondLanguage }}</th>
          <th v-if="withStatus">Progress</th>
          <th v-if="showActions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, key) in words">
          <td>
            <div v-if="wordsParams[item.id].editing">
              <input type="text" v-model="wordsParams[item.id].original_word">
            </div>
            <div v-else>
              {{item.original_word}}
            </div>
          </td>
          <td>
            <div v-if="wordsParams[item.id].editing">
              <input type="text" v-model="wordsParams[item.id].translation_word">
            </div>
            <div v-else>
              {{item.translation_word}}
            </div>
          </td>
          <td v-if="withStatus">
            <div v-if="item.status == 0">
              <span class="badge badge-primary">To Learn</span>
            </div>
            <div v-if="item.status == 1">
              <span class="badge badge-warning">To Review</span>
            </div>
            <div v-if="item.status == 2">
              <span class="badge badge-info">Young memory</span>
            </div>
            <div v-if="item.status == 3">
              <span class="badge badge-success">Mature memory</span>
            </div>
          </td>
          <td v-if="showActions">
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-success" v-on:click="patchItem(item.id)" v-if="wordsParams[item.id].editing">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-primary" v-on:click="editItem(item.id, key)" v-else>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-primary" v-if="wordsParams[item.id].editing" v-on:click="cancelEditingItem(item.id)">
                <i class="fa fa-undo"></i>
              </button>
              <button type="button" class="btn btn-danger" v-on:click="parentRemoveItem(item.id, key)">
                <i class="fa fa-remove" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <thead v-if="showActions">
      <tr>
      <b>Add words</b>
      </tr>
      </thead>
      <tbody v-if="showActions">
        <tr>
          <td><input type="text" class="form-control" v-model="formWordFirst"></td>
          <td><input type="text" class="form-control" v-model="formWordSecond"></td>
          <td v-if="withStatus"></td>
          <td>
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-primary" v-on:click="addItem">
              <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-secondary">
              <i class="fa fa-eraser" v-on:click="clear"></i>
            </button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: 'words',
  props: {
    firstLanguage: String,
    secondLanguage: String,
    words: Array,
    withStatus: Boolean,
    parentPatchItem: Function,
    parentAddItem: Function,
    parentRemoveItem: Function,
    showActions: Boolean
  },
  data: function () {
    return {
      wordsParams: [],
      formWordFirst: '',
      formWordSecond: ''
    }
  },
  watch: {
    words: function () {
      for (var i = 0; i < this.words.length; i++) {
        if (typeof this.wordsParams[this.words[i].id] === 'undefined') {
          this.wordsParams[this.words[i].id] = {
          }
          this.$set(this.wordsParams, this.words[i].id, {editing: false})
        }
      }
    }
  },
  methods: {
    editItem: function (id, key) {
      this.wordsParams[id].editing = true
      this.wordsParams[id].original_word = this.words[key].original_word
      this.wordsParams[id].translation_word = this.words[key].translation_word
    },
    cancelEditingItem: function (item) {
      this.wordsParams[item].editing = false
    },
    patchItem: function (id) {
      this.wordsParams[id].editing = false
      this.parentPatchItem(id, this.wordsParams[id].original_word, this.wordsParams[id].translation_word)
    },
    addItem: function () {
      this.parentAddItem(this.formWordFirst, this.formWordSecond)
      this.formWordFirst = ''
      this.formWordSecond = ''
    },
    clear: function () {
      this.formWordFirst = ''
      this.formWordSecond = ''
    }
  }
}
</script>
