<template>
  <div class="card-deck">
      <div class="card wordlist-card" v-for="item in wordlists">
        <router-link :to="'wordlist/' + item.id">
          <img class="card-img-top course-image" :src="axios.baseURL + item.image" alt="Card image cap">
        </router-link>
        <div class="card-block">
          <p class="card-text">
            <small class="pull-left">{{item.translation_language_name}}</small>
            <small class="pull-right"><span class="text-muted">by </span>{{item.owner_username}}</small>
          </p>
          <router-link :to="'/wordlist/' + item.id">
            <h4 class="card-title">{{item.name}}</h4>
          </router-link>
          <p class="card-text">{{item.description}}</p>
        </div>
      </div>
  </div>
</div>
</template>
<script>
export default {
  name: 'wordlistCards',
  props: {
    wordlists: Array
  }
}
</script>
