<template>
  <div id="app">
  <router-view name="navbar"></router-view>
  <div class="container">
    <AlertStack></AlertStack>
    <router-view name="default" v-show="shouldRender"></router-view>
  </div>
  </div>
</template>
<script>
import AlertStack from 'components/AlertStack'
import EventBus from 'utils/bus'
export default {
  name: 'app',
  data: function () {
    return {
      shouldRender: true
    }
  },
  methods: {
    loadingError: function (message) {
      this.shouldRender = false
    }
  },
  created: function () {
    let isLoggedIn = this.checkIfLoggedIn() && this.refreshToken()
    if (isLoggedIn) {
      this.axios.interceptors.request.use(function (config) {
        const isLoggedIn = this.checkIfLoggedIn()
        const token = this.getToken()
        if (isLoggedIn && token) {
          config.headers.common['Authorization'] = 'JWT ' + token
        } else {
          delete config.headers.common['Authorization']
        }
        return config
      }.bind(this))
    }
    EventBus.$on('critical_error', function () { this.loadingError() }.bind(this))
  },
  watch: {
    '$route' (to, from) {
      this.shouldRender = true
    }
  },
  components: { AlertStack }
}
</script>

<style lang="scss">
  @import './assets/styles/app.scss';
</style>
<style lang="scss">
.navbar-brand {
  color: #fff !important;
}
</style>
