@import 'bootswatch-variable-overrides';
@import '~bootstrap/scss/bootstrap.scss';
@import 'bootswatch-overrides';
$fa-font-path: '~font-awesome-sass/assets/fonts/font-awesome/';
@import '~font-awesome-sass/assets/stylesheets/_font-awesome';

.course-image {
    width: 200px;
    height: 200px;
}

.sidebar-top {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-top {
    margin-top: 1em !important;
}

.course-image-details {
    width: 200px;
    height: 200px;
    margin-right: 20px;  
    position: relative;
}

.course-image-upload {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.course-image-upload input[type="file"] {
    display: none;
}

.header-name {
    margin-right: 5px;
}

.fade-in-enter-active {
    animation: fade-in 2s
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wordlist-card {
    max-width: 202px;
    margin-left: 0px !important;
    margin-bottom: 0.25em;
    margin-right: 0.25em !important;
}